.auth{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color--shell);
}

.auth__card{
  width:700px;
  height:85vh;
  border-radius: 20px;
  background: var(--color--surface);
  padding:3% 10%;
}


